<h1>Merci de confirmer votre Mail!</h1>



<p>
    Merci de confimer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    Ce lien arrivera à expiration dans 1h {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    SUPER!
</p>
