{% extends 'base.html.twig' %}

{% block title %} Notre histoire - Icône Nature{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

 <div class="ibox-title container   mt-5 mb-3 p-4">
    <h1 class="text-center">A propos</h1>


  


<div class="card mb-3">
  <img src="../img/bandeau_apropos.png" class="card-img-top h-25" alt="jute_exploitation">
  <div class="card-body">
 <h3>Bienvenue sur Icône Nature !</h3>
  

<p>Nous sommes une équipe de passionnés.</p>

<p> Notre aventure a démarré lorsque nous avons décidé de nous spécialisés dans la toile de jute, issus du commerce équitable
</p>

<p>Notre sensibilité pour la personnalisation et l'unicité provient de nos relations privilégiées avec notre famille et amis. Nous souhaitons partager cela avec tous nos clients.</p>


<p>Les témoignages et avis recueillis de nos clients sont souvent touchants et émouvants. </p>

<p>À travers vos achats, que ce soit pour offrir ou vous faire plaisir, vous partagez un message à porter ou à délivrer. </p>

<p>Et chaque produit est unique.</p>

<p>C'est pour cette raison que nous sommes à l'écoute de chacun, et que nous souhaitons améliorer la marque chaque jour. </p>

  </div>
</div>
</div>
{% endblock %}