{% extends 'base.html.twig' %}

{% block title %}Vêtements femmes,mode hommes et femmes,achats en ligne|Icône Nature</title>
{% endblock %}

{% block body %}

    <div class="container text-center  mt-5 mb-3 p-4">
        <h1 class="h2">Votre paiement n'as pas abouti</h1>
        <p>
            <a href="{{path('accueil')}}" class="btn btn-success btn-sm">
            </i>Revenir à l'accueil</a>
         
        </p>
    </div>

<div>

</div>
{% endblock %}