{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

    <div class="container text-center text-white clr1 clr2 mt-4 p-4">
        <h1 class="h2">Merci pour votre achat!</h1>
        <p>
           N'hésitez pas à nous  par mail pour plus de détails sur votre commande
            <a href="mailto:iconenature@gmail.com">iconenature@gmail.com</a>.
        </p>
    </div>

<div>

</div>
{% endblock %}